<section id="main" class="container" role="main">
    <section id="description" class="row">
        <p>{{ description }}</p>
    </section>

    {{ #options }}
        <section class="row option-{{ option }}">
            <div class="col-md-2">
                <span class="icon-{{ icon.type }}"></span>
                <span class="icon-label">{{ icon.label }}</span>
            </div>
            <div class="col-md-4">{{ text }}</div>
            <div class="col-md-6">{{ content }}</div>
        </section>
    {{ /options }}

    <section id="thank-you" class="row">
        <p>{{ thank-you }}</p>
    </section>

    <section id="contact-bottom" class="row">
        {{ #contact-bottom }}
            <span class="icon-{{ icon.type }}"></span>
        {{ /contact-bottom }}
    </section>
</section>