/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bitcoin_qr_name = 'bitcoin_qr';
$bitcoin_qr_x = 512px;
$bitcoin_qr_y = 0px;
$bitcoin_qr_offset_x = -512px;
$bitcoin_qr_offset_y = 0px;
$bitcoin_qr_width = 100px;
$bitcoin_qr_height = 100px;
$bitcoin_qr_total_width = 612px;
$bitcoin_qr_total_height = 512px;
$bitcoin_qr_image = 'sprites.png';
$bitcoin_qr = 512px 0px -512px 0px 100px 100px 612px 512px 'sprites.png' 'bitcoin_qr';
$icon_bitcoin_name = 'icon_bitcoin';
$icon_bitcoin_x = 512px;
$icon_bitcoin_y = 260px;
$icon_bitcoin_offset_x = -512px;
$icon_bitcoin_offset_y = -260px;
$icon_bitcoin_width = 48px;
$icon_bitcoin_height = 48px;
$icon_bitcoin_total_width = 612px;
$icon_bitcoin_total_height = 512px;
$icon_bitcoin_image = 'sprites.png';
$icon_bitcoin = 512px 260px -512px -260px 48px 48px 612px 512px 'sprites.png' 'icon_bitcoin';
$icon_direct_name = 'icon_direct';
$icon_direct_x = 512px;
$icon_direct_y = 212px;
$icon_direct_offset_x = -512px;
$icon_direct_offset_y = -212px;
$icon_direct_width = 48px;
$icon_direct_height = 48px;
$icon_direct_total_width = 612px;
$icon_direct_total_height = 512px;
$icon_direct_image = 'sprites.png';
$icon_direct = 512px 212px -512px -212px 48px 48px 612px 512px 'sprites.png' 'icon_direct';
$icon_flattr_name = 'icon_flattr';
$icon_flattr_x = 560px;
$icon_flattr_y = 260px;
$icon_flattr_offset_x = -560px;
$icon_flattr_offset_y = -260px;
$icon_flattr_width = 48px;
$icon_flattr_height = 48px;
$icon_flattr_total_width = 612px;
$icon_flattr_total_height = 512px;
$icon_flattr_image = 'sprites.png';
$icon_flattr = 560px 260px -560px -260px 48px 48px 612px 512px 'sprites.png' 'icon_flattr';
$icon_gratipay_name = 'icon_gratipay';
$icon_gratipay_x = 560px;
$icon_gratipay_y = 164px;
$icon_gratipay_offset_x = -560px;
$icon_gratipay_offset_y = -164px;
$icon_gratipay_width = 48px;
$icon_gratipay_height = 48px;
$icon_gratipay_total_width = 612px;
$icon_gratipay_total_height = 512px;
$icon_gratipay_image = 'sprites.png';
$icon_gratipay = 560px 164px -560px -164px 48px 48px 612px 512px 'sprites.png' 'icon_gratipay';
$icon_kng_name = 'icon_kng';
$icon_kng_x = 512px;
$icon_kng_y = 100px;
$icon_kng_offset_x = -512px;
$icon_kng_offset_y = -100px;
$icon_kng_width = 64px;
$icon_kng_height = 64px;
$icon_kng_total_width = 612px;
$icon_kng_total_height = 512px;
$icon_kng_image = 'sprites.png';
$icon_kng = 512px 100px -512px -100px 64px 64px 612px 512px 'sprites.png' 'icon_kng';
$icon_paypal_name = 'icon_paypal';
$icon_paypal_x = 560px;
$icon_paypal_y = 212px;
$icon_paypal_offset_x = -560px;
$icon_paypal_offset_y = -212px;
$icon_paypal_width = 48px;
$icon_paypal_height = 48px;
$icon_paypal_total_width = 612px;
$icon_paypal_total_height = 512px;
$icon_paypal_image = 'sprites.png';
$icon_paypal = 560px 212px -560px -212px 48px 48px 612px 512px 'sprites.png' 'icon_paypal';
$logo_kng_name = 'logo_kng';
$logo_kng_x = 0px;
$logo_kng_y = 0px;
$logo_kng_offset_x = 0px;
$logo_kng_offset_y = 0px;
$logo_kng_width = 512px;
$logo_kng_height = 512px;
$logo_kng_total_width = 612px;
$logo_kng_total_height = 512px;
$logo_kng_image = 'sprites.png';
$logo_kng = 0px 0px 0px 0px 512px 512px 612px 512px 'sprites.png' 'logo_kng';
$logo_r_name = 'logo_r';
$logo_r_x = 512px;
$logo_r_y = 164px;
$logo_r_offset_x = -512px;
$logo_r_offset_y = -164px;
$logo_r_width = 48px;
$logo_r_height = 48px;
$logo_r_total_width = 612px;
$logo_r_total_height = 512px;
$logo_r_image = 'sprites.png';
$logo_r = 512px 164px -512px -164px 48px 48px 612px 512px 'sprites.png' 'logo_r';
$social_email_name = 'social_email';
$social_email_x = 576px;
$social_email_y = 100px;
$social_email_offset_x = -576px;
$social_email_offset_y = -100px;
$social_email_width = 32px;
$social_email_height = 32px;
$social_email_total_width = 612px;
$social_email_total_height = 512px;
$social_email_image = 'sprites.png';
$social_email = 576px 100px -576px -100px 32px 32px 612px 512px 'sprites.png' 'social_email';
$social_facebook_name = 'social_facebook';
$social_facebook_x = 576px;
$social_facebook_y = 132px;
$social_facebook_offset_x = -576px;
$social_facebook_offset_y = -132px;
$social_facebook_width = 32px;
$social_facebook_height = 32px;
$social_facebook_total_width = 612px;
$social_facebook_total_height = 512px;
$social_facebook_image = 'sprites.png';
$social_facebook = 576px 132px -576px -132px 32px 32px 612px 512px 'sprites.png' 'social_facebook';
$social_github_name = 'social_github';
$social_github_x = 512px;
$social_github_y = 308px;
$social_github_offset_x = -512px;
$social_github_offset_y = -308px;
$social_github_width = 32px;
$social_github_height = 32px;
$social_github_total_width = 612px;
$social_github_total_height = 512px;
$social_github_image = 'sprites.png';
$social_github = 512px 308px -512px -308px 32px 32px 612px 512px 'sprites.png' 'social_github';
$social_google_name = 'social_google';
$social_google_x = 544px;
$social_google_y = 308px;
$social_google_offset_x = -544px;
$social_google_offset_y = -308px;
$social_google_width = 32px;
$social_google_height = 32px;
$social_google_total_width = 612px;
$social_google_total_height = 512px;
$social_google_image = 'sprites.png';
$social_google = 544px 308px -544px -308px 32px 32px 612px 512px 'sprites.png' 'social_google';
$social_twitter_name = 'social_twitter';
$social_twitter_x = 576px;
$social_twitter_y = 308px;
$social_twitter_offset_x = -576px;
$social_twitter_offset_y = -308px;
$social_twitter_width = 32px;
$social_twitter_height = 32px;
$social_twitter_total_width = 612px;
$social_twitter_total_height = 512px;
$social_twitter_image = 'sprites.png';
$social_twitter = 576px 308px -576px -308px 32px 32px 612px 512px 'sprites.png' 'social_twitter';
$spritesheet_width = 612px;
$spritesheet_height = 512px;
$spritesheet_image = 'sprites.png';
$spritesheet_sprites = $bitcoin_qr $icon_bitcoin $icon_direct $icon_flattr $icon_gratipay $icon_kng $icon_paypal $logo_kng $logo_r $social_email $social_facebook $social_github $social_google $social_twitter;
$spritesheet = 612px 512px 'sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
