/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bitcoin_qr_name = 'bitcoin_qr';
$bitcoin_qr_x = 0px;
$bitcoin_qr_y = 0px;
$bitcoin_qr_offset_x = 0px;
$bitcoin_qr_offset_y = 0px;
$bitcoin_qr_width = 100px;
$bitcoin_qr_height = 100px;
$bitcoin_qr_total_width = 196px;
$bitcoin_qr_total_height = 180px;
$bitcoin_qr_image = 'sprites.png';
$bitcoin_qr = 0px 0px 0px 0px 100px 100px 196px 180px 'sprites.png' 'bitcoin_qr';
$icon_bitcoin_name = 'icon_bitcoin';
$icon_bitcoin_x = 148px;
$icon_bitcoin_y = 0px;
$icon_bitcoin_offset_x = -148px;
$icon_bitcoin_offset_y = 0px;
$icon_bitcoin_width = 48px;
$icon_bitcoin_height = 48px;
$icon_bitcoin_total_width = 196px;
$icon_bitcoin_total_height = 180px;
$icon_bitcoin_image = 'sprites.png';
$icon_bitcoin = 148px 0px -148px 0px 48px 48px 196px 180px 'sprites.png' 'icon_bitcoin';
$icon_direct_name = 'icon_direct';
$icon_direct_x = 100px;
$icon_direct_y = 48px;
$icon_direct_offset_x = -100px;
$icon_direct_offset_y = -48px;
$icon_direct_width = 48px;
$icon_direct_height = 48px;
$icon_direct_total_width = 196px;
$icon_direct_total_height = 180px;
$icon_direct_image = 'sprites.png';
$icon_direct = 100px 48px -100px -48px 48px 48px 196px 180px 'sprites.png' 'icon_direct';
$icon_email_name = 'icon_email';
$icon_email_x = 148px;
$icon_email_y = 112px;
$icon_email_offset_x = -148px;
$icon_email_offset_y = -112px;
$icon_email_width = 32px;
$icon_email_height = 32px;
$icon_email_total_width = 196px;
$icon_email_total_height = 180px;
$icon_email_image = 'sprites.png';
$icon_email = 148px 112px -148px -112px 32px 32px 196px 180px 'sprites.png' 'icon_email';
$icon_facebook_name = 'icon_facebook';
$icon_facebook_x = 148px;
$icon_facebook_y = 80px;
$icon_facebook_offset_x = -148px;
$icon_facebook_offset_y = -80px;
$icon_facebook_width = 32px;
$icon_facebook_height = 32px;
$icon_facebook_total_width = 196px;
$icon_facebook_total_height = 180px;
$icon_facebook_image = 'sprites.png';
$icon_facebook = 148px 80px -148px -80px 32px 32px 196px 180px 'sprites.png' 'icon_facebook';
$icon_flattr_name = 'icon_flattr';
$icon_flattr_x = 96px;
$icon_flattr_y = 100px;
$icon_flattr_offset_x = -96px;
$icon_flattr_offset_y = -100px;
$icon_flattr_width = 48px;
$icon_flattr_height = 48px;
$icon_flattr_total_width = 196px;
$icon_flattr_total_height = 180px;
$icon_flattr_image = 'sprites.png';
$icon_flattr = 96px 100px -96px -100px 48px 48px 196px 180px 'sprites.png' 'icon_flattr';
$icon_github_name = 'icon_github';
$icon_github_x = 32px;
$icon_github_y = 148px;
$icon_github_offset_x = -32px;
$icon_github_offset_y = -148px;
$icon_github_width = 32px;
$icon_github_height = 32px;
$icon_github_total_width = 196px;
$icon_github_total_height = 180px;
$icon_github_image = 'sprites.png';
$icon_github = 32px 148px -32px -148px 32px 32px 196px 180px 'sprites.png' 'icon_github';
$icon_google_name = 'icon_google';
$icon_google_x = 148px;
$icon_google_y = 48px;
$icon_google_offset_x = -148px;
$icon_google_offset_y = -48px;
$icon_google_width = 32px;
$icon_google_height = 32px;
$icon_google_total_width = 196px;
$icon_google_total_height = 180px;
$icon_google_image = 'sprites.png';
$icon_google = 148px 48px -148px -48px 32px 32px 196px 180px 'sprites.png' 'icon_google';
$icon_gratipay_name = 'icon_gratipay';
$icon_gratipay_x = 48px;
$icon_gratipay_y = 100px;
$icon_gratipay_offset_x = -48px;
$icon_gratipay_offset_y = -100px;
$icon_gratipay_width = 48px;
$icon_gratipay_height = 48px;
$icon_gratipay_total_width = 196px;
$icon_gratipay_total_height = 180px;
$icon_gratipay_image = 'sprites.png';
$icon_gratipay = 48px 100px -48px -100px 48px 48px 196px 180px 'sprites.png' 'icon_gratipay';
$icon_paypal_name = 'icon_paypal';
$icon_paypal_x = 0px;
$icon_paypal_y = 100px;
$icon_paypal_offset_x = 0px;
$icon_paypal_offset_y = -100px;
$icon_paypal_width = 48px;
$icon_paypal_height = 48px;
$icon_paypal_total_width = 196px;
$icon_paypal_total_height = 180px;
$icon_paypal_image = 'sprites.png';
$icon_paypal = 0px 100px 0px -100px 48px 48px 196px 180px 'sprites.png' 'icon_paypal';
$icon_twitter_name = 'icon_twitter';
$icon_twitter_x = 0px;
$icon_twitter_y = 148px;
$icon_twitter_offset_x = 0px;
$icon_twitter_offset_y = -148px;
$icon_twitter_width = 32px;
$icon_twitter_height = 32px;
$icon_twitter_total_width = 196px;
$icon_twitter_total_height = 180px;
$icon_twitter_image = 'sprites.png';
$icon_twitter = 0px 148px 0px -148px 32px 32px 196px 180px 'sprites.png' 'icon_twitter';
$logo_r_name = 'logo_r';
$logo_r_x = 100px;
$logo_r_y = 0px;
$logo_r_offset_x = -100px;
$logo_r_offset_y = 0px;
$logo_r_width = 48px;
$logo_r_height = 48px;
$logo_r_total_width = 196px;
$logo_r_total_height = 180px;
$logo_r_image = 'sprites.png';
$logo_r = 100px 0px -100px 0px 48px 48px 196px 180px 'sprites.png' 'logo_r';
$spritesheet_width = 196px;
$spritesheet_height = 180px;
$spritesheet_image = 'sprites.png';
$spritesheet_sprites = $bitcoin_qr $icon_bitcoin $icon_direct $icon_email $icon_facebook $icon_flattr $icon_github $icon_google $icon_gratipay $icon_paypal $icon_twitter $logo_r;
$spritesheet = 196px 180px 'sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
