/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_bitcoin_name = 'icon_bitcoin';
$icon_bitcoin_x = 100px;
$icon_bitcoin_y = 48px;
$icon_bitcoin_offset_x = -100px;
$icon_bitcoin_offset_y = -48px;
$icon_bitcoin_width = 46px;
$icon_bitcoin_height = 46px;
$icon_bitcoin_total_width = 235px;
$icon_bitcoin_total_height = 192px;
$icon_bitcoin_image = 'sprites.png';
$icon_bitcoin = 100px 48px -100px -48px 46px 46px 235px 192px 'sprites.png' 'icon_bitcoin';
$icon_cafepress_name = 'icon_cafepress';
$icon_cafepress_x = 148px;
$icon_cafepress_y = 92px;
$icon_cafepress_offset_x = -148px;
$icon_cafepress_offset_y = -92px;
$icon_cafepress_width = 46px;
$icon_cafepress_height = 46px;
$icon_cafepress_total_width = 235px;
$icon_cafepress_total_height = 192px;
$icon_cafepress_image = 'sprites.png';
$icon_cafepress = 148px 92px -148px -92px 46px 46px 235px 192px 'sprites.png' 'icon_cafepress';
$icon_direct_wire_name = 'icon_direct_wire';
$icon_direct_wire_x = 194px;
$icon_direct_wire_y = 0px;
$icon_direct_wire_offset_x = -194px;
$icon_direct_wire_offset_y = 0px;
$icon_direct_wire_width = 41px;
$icon_direct_wire_height = 48px;
$icon_direct_wire_total_width = 235px;
$icon_direct_wire_total_height = 192px;
$icon_direct_wire_image = 'sprites.png';
$icon_direct_wire = 194px 0px -194px 0px 41px 48px 235px 192px 'sprites.png' 'icon_direct_wire';
$icon_flattr_name = 'icon_flattr';
$icon_flattr_x = 0px;
$icon_flattr_y = 100px;
$icon_flattr_offset_x = 0px;
$icon_flattr_offset_y = -100px;
$icon_flattr_width = 46px;
$icon_flattr_height = 46px;
$icon_flattr_total_width = 235px;
$icon_flattr_total_height = 192px;
$icon_flattr_image = 'sprites.png';
$icon_flattr = 0px 100px 0px -100px 46px 46px 235px 192px 'sprites.png' 'icon_flattr';
$icon_gratipay_name = 'icon_gratipay';
$icon_gratipay_x = 46px;
$icon_gratipay_y = 100px;
$icon_gratipay_offset_x = -46px;
$icon_gratipay_offset_y = -100px;
$icon_gratipay_width = 46px;
$icon_gratipay_height = 46px;
$icon_gratipay_total_width = 235px;
$icon_gratipay_total_height = 192px;
$icon_gratipay_image = 'sprites.png';
$icon_gratipay = 46px 100px -46px -100px 46px 46px 235px 192px 'sprites.png' 'icon_gratipay';
$icon_patreon_name = 'icon_patreon';
$icon_patreon_x = 92px;
$icon_patreon_y = 100px;
$icon_patreon_offset_x = -92px;
$icon_patreon_offset_y = -100px;
$icon_patreon_width = 46px;
$icon_patreon_height = 46px;
$icon_patreon_total_width = 235px;
$icon_patreon_total_height = 192px;
$icon_patreon_image = 'sprites.png';
$icon_patreon = 92px 100px -92px -100px 46px 46px 235px 192px 'sprites.png' 'icon_patreon';
$icon_paypal_name = 'icon_paypal';
$icon_paypal_x = 194px;
$icon_paypal_y = 48px;
$icon_paypal_offset_x = -194px;
$icon_paypal_offset_y = -48px;
$icon_paypal_width = 39px;
$icon_paypal_height = 46px;
$icon_paypal_total_width = 235px;
$icon_paypal_total_height = 192px;
$icon_paypal_image = 'sprites.png';
$icon_paypal = 194px 48px -194px -48px 39px 46px 235px 192px 'sprites.png' 'icon_paypal';
$icon_pledgie_name = 'icon_pledgie';
$icon_pledgie_x = 148px;
$icon_pledgie_y = 46px;
$icon_pledgie_offset_x = -148px;
$icon_pledgie_offset_y = -46px;
$icon_pledgie_width = 46px;
$icon_pledgie_height = 46px;
$icon_pledgie_total_width = 235px;
$icon_pledgie_total_height = 192px;
$icon_pledgie_image = 'sprites.png';
$icon_pledgie = 148px 46px -148px -46px 46px 46px 235px 192px 'sprites.png' 'icon_pledgie';
$icon_social_email_name = 'icon_social_email';
$icon_social_email_x = 114px;
$icon_social_email_y = 146px;
$icon_social_email_offset_x = -114px;
$icon_social_email_offset_y = -146px;
$icon_social_email_width = 30px;
$icon_social_email_height = 31px;
$icon_social_email_total_width = 235px;
$icon_social_email_total_height = 192px;
$icon_social_email_image = 'sprites.png';
$icon_social_email = 114px 146px -114px -146px 30px 31px 235px 192px 'sprites.png' 'icon_social_email';
$icon_social_facebook_name = 'icon_social_facebook';
$icon_social_facebook_x = 46px;
$icon_social_facebook_y = 146px;
$icon_social_facebook_offset_x = -46px;
$icon_social_facebook_offset_y = -146px;
$icon_social_facebook_width = 34px;
$icon_social_facebook_height = 34px;
$icon_social_facebook_total_width = 235px;
$icon_social_facebook_total_height = 192px;
$icon_social_facebook_image = 'sprites.png';
$icon_social_facebook = 46px 146px -46px -146px 34px 34px 235px 192px 'sprites.png' 'icon_social_facebook';
$icon_social_github_name = 'icon_social_github';
$icon_social_github_x = 194px;
$icon_social_github_y = 94px;
$icon_social_github_offset_x = -194px;
$icon_social_github_offset_y = -94px;
$icon_social_github_width = 34px;
$icon_social_github_height = 34px;
$icon_social_github_total_width = 235px;
$icon_social_github_total_height = 192px;
$icon_social_github_image = 'sprites.png';
$icon_social_github = 194px 94px -194px -94px 34px 34px 235px 192px 'sprites.png' 'icon_social_github';
$icon_social_google_name = 'icon_social_google';
$icon_social_google_x = 80px;
$icon_social_google_y = 146px;
$icon_social_google_offset_x = -80px;
$icon_social_google_offset_y = -146px;
$icon_social_google_width = 34px;
$icon_social_google_height = 31px;
$icon_social_google_total_width = 235px;
$icon_social_google_total_height = 192px;
$icon_social_google_image = 'sprites.png';
$icon_social_google = 80px 146px -80px -146px 34px 31px 235px 192px 'sprites.png' 'icon_social_google';
$icon_social_twitter_name = 'icon_social_twitter';
$icon_social_twitter_x = 194px;
$icon_social_twitter_y = 128px;
$icon_social_twitter_offset_x = -194px;
$icon_social_twitter_offset_y = -128px;
$icon_social_twitter_width = 34px;
$icon_social_twitter_height = 34px;
$icon_social_twitter_total_width = 235px;
$icon_social_twitter_total_height = 192px;
$icon_social_twitter_image = 'sprites.png';
$icon_social_twitter = 194px 128px -194px -128px 34px 34px 235px 192px 'sprites.png' 'icon_social_twitter';
$icon_spreadshirt_name = 'icon_spreadshirt';
$icon_spreadshirt_x = 0px;
$icon_spreadshirt_y = 146px;
$icon_spreadshirt_offset_x = 0px;
$icon_spreadshirt_offset_y = -146px;
$icon_spreadshirt_width = 46px;
$icon_spreadshirt_height = 46px;
$icon_spreadshirt_total_width = 235px;
$icon_spreadshirt_total_height = 192px;
$icon_spreadshirt_image = 'sprites.png';
$icon_spreadshirt = 0px 146px 0px -146px 46px 46px 235px 192px 'sprites.png' 'icon_spreadshirt';
$icon_zazzle_name = 'icon_zazzle';
$icon_zazzle_x = 148px;
$icon_zazzle_y = 0px;
$icon_zazzle_offset_x = -148px;
$icon_zazzle_offset_y = 0px;
$icon_zazzle_width = 46px;
$icon_zazzle_height = 46px;
$icon_zazzle_total_width = 235px;
$icon_zazzle_total_height = 192px;
$icon_zazzle_image = 'sprites.png';
$icon_zazzle = 148px 0px -148px 0px 46px 46px 235px 192px 'sprites.png' 'icon_zazzle';
$logo_r_name = 'logo_r';
$logo_r_x = 100px;
$logo_r_y = 0px;
$logo_r_offset_x = -100px;
$logo_r_offset_y = 0px;
$logo_r_width = 48px;
$logo_r_height = 48px;
$logo_r_total_width = 235px;
$logo_r_total_height = 192px;
$logo_r_image = 'sprites.png';
$logo_r = 100px 0px -100px 0px 48px 48px 235px 192px 'sprites.png' 'logo_r';
$qr_bitcoin_name = 'qr_bitcoin';
$qr_bitcoin_x = 0px;
$qr_bitcoin_y = 0px;
$qr_bitcoin_offset_x = 0px;
$qr_bitcoin_offset_y = 0px;
$qr_bitcoin_width = 100px;
$qr_bitcoin_height = 100px;
$qr_bitcoin_total_width = 235px;
$qr_bitcoin_total_height = 192px;
$qr_bitcoin_image = 'sprites.png';
$qr_bitcoin = 0px 0px 0px 0px 100px 100px 235px 192px 'sprites.png' 'qr_bitcoin';
$spritesheet_width = 235px;
$spritesheet_height = 192px;
$spritesheet_image = 'sprites.png';
$spritesheet_sprites = $icon_bitcoin $icon_cafepress $icon_direct_wire $icon_flattr $icon_gratipay $icon_patreon $icon_paypal $icon_pledgie $icon_social_email $icon_social_facebook $icon_social_github $icon_social_google $icon_social_twitter $icon_spreadshirt $icon_zazzle $logo_r $qr_bitcoin;
$spritesheet = 235px 192px 'sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
